#mc_embed_signup{
    text-align:center;
    line-height: 2;
   
    .optionalParent{

        padding-top:20px;

        .clear foot{
            .button{
                background-color:black;
                color: white;
            }
        }
    }
    
}

